DATABASE_URL=postgresql://neondb_owner:npg_gobRxAOnt84G@ep-delicate-firefly-aypgfzul-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET_KEY=change-me-in-production
FLASK_APP=run.py
FLASK_ENV=development